.mdc-image-list {
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
}
.masonry-image-list {
    column-count: 5;
    max-width: 1400px;
}

.masonry-image-list .mdc-image-list__item {
    margin-bottom: 16px;
}

@media(max-width: 1200px){
    .masonry-image-list {
        column-count: 4;
        max-width: 870px;
    }
}
@media(max-width: 992px){
    .masonry-image-list {
        column-count: 3;
        max-width: 500px;
    }
}

@media(max-width: 768px){
    .masonry-image-list {
        column-count: 2;
    }
}